<div>
  <h1>Events</h1>
  <hr>
  <hr>
  <div class="thumbnails">
    <li ng-repeat="event in events | orderBy:sortorder" class="col-sm-5">
      <a href="event/{{event.id}}">
        <div class="well hoverwell">
          <div class="row">
            <div class="col-sm-6">
              <h2>{{event.name}}</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-1">Date:</div>
            <div>{{event.date}}</div>
          </div>
          <div class="row">
            <div class="col-sm-1">Time:</div>
            <div>{{event.time}}</div>
          </div>
          <div class="row">
            <div class="col-sm-1">Location:</div>
            <div>{{event.location}}</div>
          </div>
          <div class="row">
            <div class="col-sm-1">&nbsp;</div>
            <div>{{event.location.city}}, {{event.location.province}}</div>
          </div>
        </div>
      </a>
    </li>
  </div>
</div>
